<div class="ic1-container">
  <div class="ic1-row">
    <div class="ic1-col-12 ic1-mt-16">
      <ul class="ic1-breadcrumb" aria-label="Breadcrumb" role="navigation">
        <li class="ic1-breadcrumb-item">
          <a [ngStyle]="{'color': 'var(--primary-color)'}" routerLink="/home" aria-level="1" role="menuitem">{{'bTHOV1|404_bt_Homepage' | translate }}</a>
        </li>
        <li class="ic1-breadcrumb-item">
          <a aria-level="2" role="menuitem" aria-current="page">Veridas Document Recognition Service</a>
        </li>
      </ul>
    </div>
    <div class="ic1-col-12 ic1-mt-8 ic1-mb-24">
      <h2>Veridas Document Recognition Service</h2>
    </div>
    <div class="ic1-col-12 ic1-mb-16">
      <div class="ic1-row items-center">
        <i class="ic1-icon ic1-icon-outlined text-ic1-primary text-[1.75]" aria-hidden="true"
          role="button">contact_page</i>
        <div class="ic1-col-11">
          <p>Tieni a portata di mano il tuo documento di identità</p>
        </div>
      </div>
      <div class="ic1-row items-center">
        <i class="ic1-icon ic1-icon-outlined text-ic1-primary text-[1.75]" aria-hidden="true" role="button">house</i>
        <div class="ic1-col-11">
          <p>Assicurati di essere in un ambiente dove poter effettuare il processo senza distrazioni</p>
        </div>
      </div>
      <div class="ic1-row items-center">
        <i class="ic1-icon ic1-icon-outlined text-ic1-primary text-[1.75]" aria-hidden="true"
          role="button">settings_brightness</i>
        <div class="ic1-col-11">
          <p>Assicurati di in un ambiente ben illuminato</p>
        </div>
      </div>
    </div>
    <!-- <div class="ic1-col-12 ic1-mt-8">
      <div class="ic1-row">
        <div class="ic1-col-6 ic1-px-0 ic1-pr-8">
          <app-custom-select [includeEmptyOption]="true" [label]="'Nazionalità'" [items]="itemsDocNationalities"
            placeholder="Seleziona la nazionalità del documento" (selectedItemChange)="onSelectedNationality($event)">
          </app-custom-select>
        </div>
        <div class="ic1-col-6 ic1-px-0 ic1-pr-8">
          <app-custom-select [includeEmptyOption]="true" [label]="'Tipo di documento'" [items]="itemsDocTypesToShow"
            placeholder="Seleziona il tipo di documento" (selectedItemChange)="onSelectedDocType($event)">
          </app-custom-select>
        </div>
      </div>
    </div> -->
    <div class="ic1-row justify-between w-full">
      <div class="ic1-col-6 ic1-mt-8 ic1-pb-0">
        <p class="font-semibold">Carica fronte documento</p>
      </div>
      <div class="ic1-col-6 ic1-mt-8 ic1-pb-0">
        <p class="font-semibold">Carica retro documento</p>
      </div>
      <div class="ic1-col-6 ic1-mt-8 ic1-pt-0">
        @if (showFileUploaders[0]) {
        <app-file-uploader [uploaderIndex]="0" (onFileUploaded)="onFileUpload($event)"></app-file-uploader>
        } @else {
        <app-file-preview [fileName]="originalfiles[0].name" [imageSrc]="imageSrcs[0]"></app-file-preview>
        <div class="w-full flex justify-start ic1-mt-24">
          <button (click)="removeFile(0)" type="button" class="ic1-btn ic1-btn-md ic1-btn-text">
            <span>Rimuovi</span>
          </button>
        </div>
        }
      </div>
      <div class="ic1-col-6 ic1-mt-8 ic1-pt-0">
        @if (showFileUploaders[1]) {
        <app-file-uploader [uploaderIndex]="1" (onFileUploaded)="onFileUpload($event)"></app-file-uploader>
        } @else {
        <app-file-preview [fileName]="originalfiles[1].name" [imageSrc]="imageSrcs[1]"></app-file-preview>
        <div class="w-full flex justify-start ic1-mt-24">
          <button (click)="removeFile(1)" type="button" class="ic1-btn ic1-btn-md ic1-btn-text">
            <span>Rimuovi</span>
          </button>
        </div>
        }
      </div>
    </div>
    <div class="ic1-col-12 ic1-mb-24 ic1-mt-16 justify-end flex">
      <button [disabled]="!imageSrcs[0] || !imageSrcs[1]" (click)="verifyIdentity()" type="button"
        class="ic1-btn ic1-btn-md ic1-btn-primary">
        <span>Verifica</span>

      </button>
    </div>
  </div>
  <div [hidden]="veridasDocResult == null">
    <div class="ic1-row ic1-mb-100">
      <div class="ic1-col-12">
        <app-tabs [tabs]="tabs">

          <ng-template #tabContent1>
            <div class="ic1-row">
              <div class="ic1-col-8 ic1-row ic1-mt-8 border border-ic1-gray-light rounded-[5px] ic1-p-16">
                <div class="ic1-col-6">
                  <div class="ic1-row">
                    <ng-container *ngFor="let field of displayFields; let i = index">
                      <div *ngIf="i % 2 === 0" class="ic1-col-12 ic1-pb-0">
                        <b class="font-semibold">{{ field.label }}</b>
                      </div>
                      <div *ngIf="i % 2 === 0" class="ic1-col-12 ic1-mb-8">
                        {{ field.value }}
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="ic1-col-6">
                  <div class="ic1-row">
                    <ng-container *ngFor="let field of displayFields; let i = index">
                      <div *ngIf="i % 2 !== 0" class="ic1-col-12 ic1-pb-0">
                        <b class="font-semibold">{{ field.label }}</b>
                      </div>
                      <div *ngIf="i % 2 !== 0" class="ic1-col-12 ic1-mb-8">
                        {{ field.value }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

            </div>
          </ng-template>

          <ng-template #tabContent2>
            <!-- <div class="ic1-row ic1-mt-8 border border-ic1-gray-light rounded-[5px] ic1-p-16">
              <div class="ic1-col-12">
                <app-gauge [currentValue]="veridasDocResult?.documents[0]?.confidence?.overall"
                  [gaugeText]="veridasDocResult?.documents[0]?.confidence?.overall ? veridasDocResult?.documents[0]?.confidence?.overall + '%' : '0%'"></app-gauge>
              </div>
            </div> -->
          </ng-template>

          <ng-template #tabContent3>
            <div class="ic1-row ic1-mt-8 border border-ic1-gray-light rounded-[5px] ic1-p-16">
              <div class="ic1-col-12">
                <pre>{{veridasDocResult | json}}</pre>
              </div>
            </div>
          </ng-template>

        </app-tabs>

      </div>
    </div>
  </div>
</div>