<app-header
  *ngIf="!router.url.includes('mobile-photo') && !router.url.includes('mobile-onboarding-widget') "></app-header>
<app-loader [isLoading]="isLoading$ | async"></app-loader>
 
<div style="z-index: 999999;" *ngIf="(notification$ | async)" class="absolute w-[100vw] h-[100vh] flex justify-center pt-[7vh]">
  <app-toast [type]="(notification$ | async)?.type"
  [text]="(notification$ | async)?.message"></app-toast>
</div>



<router-outlet><router-outlet />
  <app-footer
    *ngIf="!router.url.includes('mobile-photo') && !router.url.includes('mobile-onboarding-widget')"></app-footer>


  <div *ngIf="!router.url.includes('mobile-photo') && !router.url.includes('mobile-onboarding-widget')"
    class="control-panel" [class.hidden]="isControlPanelHidden">
    <button (click)="toggleControlPanel()" class="control-panel-toggle">▼</button>
    <div class="control-panel-content">
      <h3>Change Theme {{(notification$ | async)}}</h3>
      <button (click)="changeTheme('infocert')">InfoCert</button>
      <button (click)="changeTheme('unicredit')">Unicredit</button>
    </div>
  </div>

  <button
    *ngIf="( !router.url.includes('mobile-photo') && !router.url.includes('mobile-onboarding-widget') ) && isControlPanelHidden"
    (click)="toggleControlPanel()" class="floating-button">▲</button>