@if(router.url == '/home') {
<div class="ic1-row bg-ic1-primary justify-center ic1-mt-64">
    <div class="ic1-col-9 text-white ic1-pt-16 ic1-pb-16 !pl-[4.5rem]">
        <span class="ic1-pt-24 ic1-px-4"><a target="_blank" class="text-white" href="https://www.legalmail.infocert.it/">PEC</a></span> •
        <span class="ic1-pt-24 ic1-px-4"><a target="_blank" class="text-white" href="https://www.firma.infocert.it/">Firma Digitale</a></span> •
        <span class="ic1-pt-24 ic1-px-4"><a target="_blank" class="text-white" href="https://www.fatturazione.infocert.it/">Fatturazione Elettronica</a></span> •
        <span class="ic1-pt-24 ic1-px-4"><a target="_blank" class="text-white" href="https://www.identitadigitale.infocert.it/">SPID</a></span> •
        <span class="ic1-pt-24 ic1-px-4"><a target="_blank" class="text-white" href="https://www.infocert.it/legaldoc">Conservazione</a></span> •
        <span class="ic1-pt-24 ic1-px-4"><a target="_blank" class="text-white" href="https://www.infocert.it/informazioni-commerciali">Report e Visure</a></span>
    </div>
    <div class="ic1-col-3 content-center flex justify-end !pr-[4.5rem]">
        <button type="button" class="ic1-btn ic1-btn-sm ic1-btn-text !text-white">
            <span><a target="_blank" class="text-white" href="https://www.infocert.it/rivenditoriweb">Diventa rivenditore</a></span>
            <i class="ic1-icon ic1-icon-after ic1-icon-outlined" aria-hidden="true" role="button">
                east
            </i>
        </button>
    </div>
</div>

<div class="ic1-row bg-[#F4F6F9] py-8">
    <div class="ic1-col-2">
        <div class="flex justify-center">
            <div [ngStyle]="{'background-image': 'var(--logo-url)'}" class="ic1-brand-infocert-default"></div>
        </div>

    </div>
    <div class="ic1-col-2">
        <h5 class="font-bold">Azienda</h5>
        <ul>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/chi-siamo/">Profilo aziendale</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/certificazioni">Certificazioni</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/esg">Sostenibilità</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/cybersecurity">Cyber Security</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/report-analisti/">Analyst Report</a></li>
        </ul>
    </div>
    <div class="ic1-col-2">
        <h5 class="font-bold">Tutto su di noi</h5>
        <ul>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/documentazione/">Documentazione</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://infocert.digital/news-event">News & eventi InfoCert</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/comunicati-stampa/">Magazine: Futuro Digitale</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/comunicati-stampa/">Comunicati stampa</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://infocert.digital/">Sito internazionale</a></li>
        </ul>
    </div>
    <div class="ic1-col-2 border-r-2 border-ic1-gray-light">
        <h5 class="font-bold">Assistenza</h5>
        <ul>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://help.infocert.it/">FAQ e guide</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://help.infocert.it/contatti/">Contattaci</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" target="_blank" href="https://www.infocert.it/cookie-policy-infocert/">Impostazioni cookie</a></li>
        </ul>
    </div>
    <div class="ic1-col-4 flex justify-center">
        <h5 class="font-bold">Seguici su:</h5>
        <ul>
            <li class="ic1-mt-16">
                <i class="ic1-icon ic1-icon-outlined" aria-hidden="true" role="button">

                </i>
            </li>
        </ul>
    </div>


</div>

<div class="ic1-row bg-white py-2">
    <div class="ic1-col-12">
        <p class="font-normal text-center text-[0.9rem] text-ic1-secondary-light">© 2022, InfoCert S.p.a - P.IVA
            07945211006 - Cap. Sociale € 22.117.536 - REA RM 1064345 - Sede legale: Piazza Sallustio, 9 - 00187 - Roma •
            <a class="font-semibold text-ic1-secondary-light" target="_blank" href="https://www.infocert.it/content/uploads/2023/04/Informativa-privacy-del-sito-rev.2-settembre-2022.pdf">Website privacy policy</a>
            • <a class="font-semibold text-ic1-secondary-light" target="_blank" href="https://www.infocert.it/cookie-policy-infocert/">Cookie policy</a>
            • <a class="font-semibold text-ic1-secondary-light" target="_blank" href="https://www.infocert.it/informative-privacy">Privacy notice</a>
        </p>
    </div>
</div>
} @else {
<div class="ic1-row bg-[#F4F6F9] py-2">
    <div class="ic1-col-8 content-center ic1-pl-64">
        <p class="font-normal text-[0.9rem] text-ic1-secondary-light">Infocert, il futuro digitale è adesso</p>
    </div>
    <div class="ic1-col-4 ic1-pr-64">
        <p class="font-normal text-end text-[12px] text-ic1-secondary-light">© 2022, InfoCert S.p.a - P.IVA 07945211006</p>
        <div class="text-end">
            <a class="text-[80%] font-semibold text-ic1-secondary-light" target="_blank" href="https://www.infocert.it/content/uploads/2023/04/Informativa-privacy-del-sito-rev.2-settembre-2022.pdf">Website privacy policy</a>
            • <a class="text-[80%] font-semibold text-ic1-secondary-light" target="_blank" href="https://www.infocert.it/cookie-policy-infocert/">Cookie policy</a>
            • <a class="text-[80%] font-semibold text-ic1-secondary-light" target="_blank" href="https://www.infocert.it/informative-privacy">Privacy notice</a>
        </div>
       
    </div>
</div>

}