@if(router.url != '/login') {
    <div class="ic1-row bg-ic1-primary justify-center">
        <div class="ic1-col-9 text-white ic1-pt-16 ic1-pb-16 !pl-[4.5rem]" >
            <span class="ic1-pt-24">PEC</span> •
            <span class="ic1-pt-24">Firma Digitale</span> •
            <span class="ic1-pt-24">Fatturazione Elettronica</span> •
            <span class="ic1-pt-24">SPID</span> •
            <span class="ic1-pt-24">Conservazione</span> •
            <span class="ic1-pt-24">Report e Visure</span> 
        </div>
        <div class="ic1-col-3 content-center flex justify-end !pr-[4.5rem]">
            <button type="button" class="ic1-btn ic1-btn-sm ic1-btn-text !text-white">
                <span>Diventa rivenditore</span>
                <i
                class="ic1-icon ic1-icon-after ic1-icon-outlined"
                aria-hidden="true"
                role="button"
                >
                east
            </i>
        </button>
    </div>
</div>

<div class="ic1-row bg-[#F4F6F9] py-8">
    <div class="ic1-col-2 content-center">
        <div class="flex justify-center">
            <img src="/logo_2023.png" alt="">
        </div>
        
    </div>
    <div class="ic1-col-2">
        <h5 class="font-bold">Azienda</h5>
        <ul>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Profilo aziendale</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Informazioni societarie</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Certificazioni</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Modello 231 e codice etico</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Lavora con noi</a></li>
        </ul>
    </div>
    <div class="ic1-col-2">
        <h5 class="font-bold">Tutto su di noi</h5>
        <ul>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Documentazione</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">News & eventi InfoCert</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Magazine: Futuro Digitale</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Comunicati stampa</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Sito internazionale</a></li>
        </ul>
    </div>
    <div class="ic1-col-2 border-r-2 border-ic1-gray-light">
        <h5 class="font-bold">Assistenza</h5>
        <ul>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Contattaci</a></li>
            <li class="ic1-mt-16"><a class="text-ic1-secondary-light font-normal" href="">Impostazioni cookie</a></li>
        </ul>
    </div>
    <div class="ic1-col-4 flex justify-center">
        <h5 class="font-bold">Seguici su:</h5>
        <ul>
            <li class="ic1-mt-16">
                <i class="ic1-icon ic1-icon-outlined" aria-hidden="true" role="button">
                    
                </i>
            </li>
        </ul>
    </div>
    
    
</div>

<div class="ic1-row bg-white py-2">
    <div class="ic1-col-12">
        <p class="font-normal text-center text-[0.9rem] text-ic1-secondary-light">© 2022, InfoCert S.p.a - P.IVA 07945211006 - Cap. Sociale € 22.117.536  - REA RM 1064345 - Sede legale: Piazza Sallustio, 9 - 00187 - Roma • <a class="font-semibold text-ic1-secondary-light" href="">Website privacy policy</a>
            • <a class="font-semibold text-ic1-secondary-light" href="">Cookie policy</a>
            • <a class="font-semibold text-ic1-secondary-light" href="">Privacy notice</a></p>
            
        </div>
        
    </div>
} @else {
    
    
}


