<div *ngIf="isVisible" id="undefined-modal" [ngClass]="{'ic1-visible':isVisible}"
    class="ic1-overlay ic1-overlay-modal ic1-overlay-sm" role="dialog" aria-modal="true">
    <div class="ic1-modal ic1-modal-lg" [style.width]="modalWidth ? modalWidth : '50rem'">
        <div class="ic1-modal-content">
            <div class="ic1-modal-header">
                {{title}} <br>
                <small class="font-normal">{{subTitle}}</small>
                <span (click)="closeModal()" class="ic1-modal-close" aria-hidden="false"></span>
            </div>
            <div class="ic1-modal-body flex justify-center w-full">
                <ng-content></ng-content>
            </div>
            <div class="ic1-modal-footer">
                <ng-content select="[modal-footer]"></ng-content>
            </div>
        </div>
    </div>
</div>