<div class="ic1-row h-[100vh] w-full">
    <div class="ic1-col-md-4 hidden md:!block" style="background-color: #d6edf7;"></div>
    <div class="ic1-col-12 ic1-col-md-8 ic1-row ic1-p-md-64 ic1-p-24 " style="background-image: url('fingerprint.jpg');">
        <div class="ic1-col-12 content-center">
            <img src="infocert_id.svg" alt="">
        </div>
        <div class="ic1-col-12 content-center">
            <h1>Accedi al Demoportal Infocert</h1>
            <p class="ic1-text-subtitle-1 ic1-mt-24"> Gestisci in autonomia e con
                semplicità la tua identità digitale InfoCert ID
                personale, professionale e minori
            </p>
        </div>
        <div class="ic1-col-12">
            <button (click)="login()" type="button" class="ic1-btn ic1-btn-md ic1-btn-primary">Accedi al Demoportal</button>
        </div>
        <div class="ic1-col-12 ic1-col-md-10">
            <p class="ic1-text-label-2"> Non hai ancora una utenza InfoCert ID?
                <a style="color: #006f98;"
                    href="https://www.identitadigitale.infocert.it/?infocert_id=1434&amp;infocert_campaign=SPID-IDENTITA-DIGITALE-_-IT">
                    Scopri di più
                </a>
            </p>
        </div>
    </div>
</div>
