<div class="ic1-container min-h-[100vh]">
    <div class="ic1-row">
        <div class="ic1-col-12 ic1-mt-16">
            <ul class="ic1-breadcrumb" aria-label="Breadcrumb" role="navigation">
                <li class="ic1-breadcrumb-item">
                    <a [ngStyle]="{'color': 'var(--primary-color)'}" routerLink="/home" aria-level="1"
                        role="menuitem">Homepage</a>
                </li>
                <li class="ic1-breadcrumb-item">
                    <a aria-level="2" role="menuitem" aria-current="page">Companies settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ic1-row ic1-mb-24">
        <div class="ic1-col-12 ic1-mt-8 ic1-mb-24">
            <h2>Companies Settings</h2>
        </div>
        <div class="ic1-col-6">
            <app-search [hideWholeWord]="true" [hideCaseSensitive]="true" (searchEvent)="onSearch($event)"></app-search>
        </div>
        <div class="ic1-col-6 flex justify-end ic1-py-16">
            <button (click)="isVisibleEditModal = true" type="submit" class="ic1-btn ic1-btn-xs ic1-btn-primary">
                <i class="ic1-icon ic1-icon-before ic1-icon-outlined" aria-hidden="true" role="button">
                    add
                </i>
                New Company</button>
        </div>
    </div>
    <div class="ic1-row">
        <div class="ic1-col-12">
            <app-table [columns]="columns" [data]="filteredCompanies" [actions]="actions"
                (actionClicked)="onActionClicked($event)">
            </app-table>
        </div>
    </div>
</div>

<app-modal (close)="closeModal()" [title]="'Edit company'" [modalWidth]="'85vw'" [isVisible]="isVisibleEditModal">
    <div class="ic1-row">
        <div class="ic1-col-12">
            <div class="ic1-form-group">
                <label for="name">Nome</label>
                <input id="name" type="text" [(ngModel)]="selectedCompany.name" class="ic1-input" />
                <!-- <div *ngIf="companyForm.get('name')?.invalid && companyForm.get('name')?.touched" class="ic1-error">
                    Nome è richiesto
                </div> -->
            </div>
        </div>
        <div class="ic1-col-12 ic1-mt-8 border border-ic1-gray-light rounded-[5px]">
            <div class="ic1-row">
                <div class="ic1-col-4">
                    <h3 class="text-center" for="primaryColorPicker">Primary Color</h3>
                    <div style="border-right: 2px dashed #979797;" class="flex flex-col items-center ic1-mt-16">
                        <input class="color-picker" type="color" id="primaryColorPicker"
                            [(ngModel)]="selectedCompany.primaryColor">
                        <small class="font-bold ic1-mt-16">{{selectedCompany.primaryColor}}</small>
                    </div>
                </div>
                <div class="ic1-col-4">
                    <h3 class="text-center" for="secondaryColorPicker">Secondary Color</h3>
                    <div style="border-right: 2px dashed #979797;" class="flex flex-col items-center ic1-mt-16">
                        <input class="color-picker" type="color" id="secondaryColorPicker"
                            [(ngModel)]="selectedCompany.secondaryColor">
                        <small class="font-bold ic1-mt-16">{{selectedCompany.secondaryColor}}</small>
                    </div>
                </div>
                <div class="ic1-col-4">
                    <h3 class="text-center">Company logo</h3>
                    <div class="flex flex-col ic1-mx-24 ic1-mt-16 ic1-pt-16 ic1-px-28 justify-center"
                        [class.items-center]="showFileUploader">
                        @if (showFileUploader) {
                        <app-file-uploader [hideQr]="true" [hideWebcam]="true" [uploaderIndex]="0"
                            (onFileUploaded)="onFileUpload($event)"></app-file-uploader>
                        } @else {
                        <app-file-preview [fileName]="originalfile.name" [imageSrc]="imageSrc"></app-file-preview>
                        <div class="w-full flex justify-center ic1-mt-24">
                            <button (click)="removeFile()" type="button" class="ic1-btn ic1-btn-md ic1-btn-text">
                                <span>Rimuovi</span>
                            </button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ic1-row" modal-footer>
        <div class="ic1-col-12 flex justify-center">
            <button (click)="closeModal()" type="button" class="ic1-mr-24 ic1-btn ic1-btn-sm ic1-btn-secondary">
                <span>{{ 'cmkpL|Demo_CiePhonebtn_Cancel' | translate}}</span>
            </button>
            <button type="submit" class="ic1-btn ic1-btn-sm ic1-btn-primary">
                <span>{{ 'cmtZL0|Demo_btn_confirm' | translate}}</span>
            </button>
        </div>
    </div>
</app-modal>

<app-pop-up [status]="'danger'" [isVisible]="isPopUpVisible" [customIcon]="'delete_forever'"
    [title]="'Sei sicuro di voler eliminare questa azienda? Verranno eliminati tutti gli utenti di questa azienda'"
    [subtitle]="selectedCompany.name" [primaryButtonText]="'Conferma'" [secondaryButtonText]="'Annulla'"
    (close)="closePopUp()" (primaryAction)="confirmDelete()" (secondaryAction)="closePopUp()"></app-pop-up>