<div class="ic1-ml-72 ic1-mr-72 ic1-mb-64">
  <div class="ic1-row ic1-mr-24 ic1-ml-24 ic1-pt-32 ic1-pb-32">
    <div class="ic1-col-12">
      <h2 class="ic1-pb-8">Prova i prodotti InfoCert (1)</h2>
      <p>Seleziona una categoria per visualizzare i prodotti associati</p>
    </div>
  </div>
  <!-- Servizi  -->
  <div class="ic1-row">
    <div class="ic1-col-3 ic1-pr-0">
      <div class="ic1-col-12 ic1-pb-0">
        <i 
        class="ic1-icon ic1-icon-outlined text-[2.8rem] text-ic1-secondary-light"
        aria-hidden="true"
        role="button"
        >dynamic_feed</i>
      </div>
      <div class="ic1-col-12">
        <h2>Servizi</h2>
      </div>
      <div class="ic1-col-12 ic1-pt-0">
        <h6>Demo dei singoli servizi</h6>
      </div>
    </div>
    <div class="ic1-col-9 ic1-pl-0">
      <div class="ic1-row">
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image0.png'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image1.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image2.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image3.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image4.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image5.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image6.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div> 
      </div>
    </div>
  </div>
  
  <div class="ic1-separator ic1-my-24"></div>
  
  <!-- Processi Onboarding  -->
  <div class="ic1-row">
    <div class="ic1-col-3 ic1-pr-0">
      <div class="ic1-col-12 ic1-pb-0">
        <i
        class="ic1-icon ic1-icon-outlined text-[2.8rem] text-ic1-secondary-light"
        aria-hidden="true"
        role="button"
        >pending</i>
      </div>
      <div class="ic1-col-12">
        <h2>Processi Onboarding</h2>
      </div>
      <div class="ic1-col-12 ic1-pt-0">
        <h6>Simulazione di processi onboarding del cliente</h6>
      </div>
    </div>
    <div class="ic1-col-9 ic1-pl-0">
      <div class="ic1-row">
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image0.png'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image1.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image2.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image3.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image4.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image5.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image6.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div> 
      </div>
    </div>
  </div>
  
  <div class="ic1-separator ic1-my-24"></div>
  
  <!-- Identità notificate  -->
  <div class="ic1-row">
    <div class="ic1-col-3 ic1-pr-0">
      <div class="ic1-col-3 ic1-pr-0">
        <div class="ic1-col-12 ic1-pb-0">
          <i class="ic1-icon ic1-icon-outlined text-[2.8rem] text-ic1-secondary-light"
          aria-hidden="true"
          role="button"
          >badge</i>
        </div>
        <div class="ic1-col-12">
          <h2>Identità notificate</h2>
        </div>
        <div class="ic1-col-12 ic1-pt-0">
          <h6>Simulazione di identità notificate</h6>
        </div>
      </div>
    </div>
    <div class="ic1-col-9 ic1-pl-0">
      <div class="ic1-row">
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div>
        <div class="ic1-col-4">
          <app-card [cssClasses]="'border-0'" [cardImage]="'image.svg'" [buttonLabel]="'Vai alla demo'" [title]="'Customer onboarding with contract sign (SelfID)'" [text]="'Onboarding of a customer by uploading and reading documents nand acknowledging liveness and signing the contract'"></app-card>
        </div> 
      </div>
    </div>
  </div>
  
</div> 


