<webcam [mirrorImage]="'never'" #webcamElement [hidden]="webcamImageSrc" class="w-full h-full" [height]="screenHeight" (imageCapture)="handleImage($event)"
    [trigger]="triggerObservable"></webcam>
<div class="ic1-row h-[93vh]" *ngIf="webcamImageSrc">
    <div class="ic1-col-12 ic1-p-0 flex justify-center">
        <img class="object-cover" [src]="webcamImageSrc.imageAsDataUrl" />
    </div>
</div>
<div class="absolute bottom-2.5 flex justify-around w-full ic1-mt-24">
    <button *ngIf="!webcamImageSrc" (click)="triggerSnapshot()" type="button"
        class="ic1-btn ic1-btn-standard ic1-btn-primary ic1-btn-icon">
        <i class="ic1-icon text-[3rem] ic1-icon-outlined" aria-hidden="true" role="button">photo_camera</i>
    </button>
   
    <button *ngIf="webcamImageSrc" (click)="removeSnapshot()" type="button" class="ic1-btn ic1-btn-md ic1-btn-secondary">
        <span>Riprova</span>
    </button>
    <button (click)="confirm()" *ngIf="webcamImageSrc" type="button" class="ic1-btn ic1-btn-sm ic1-btn-primary">
        <span>{{ 'cmtZL0|Demo_btn_confirm' | translate}}</span>
    </button>
</div>